<nav class="nav">
    <h1><a routerLink="">E-Comm</a></h1>
    <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" placeholder="Search Product..">
        <button>Search</button>
    </div>
    <div [ngSwitch]="menuType" class="menu-type">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="seller-auth">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a href="#" style="background-color: #D4C9BE; color: #123458;">Seller signed in as: {{sellerName | titlecase}}</a></li>
            <li><a routerLink="seller-auth">Add Product</a></li>
            <li><a routerLink="">List</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>