<nav class="nav">
    <img src="images/logo.png" routerLink="" alt="app-logo">
    <div *ngIf="menuType==='default'" class="nav-search">
        <input type="text" placeholder="Search Product..">
        <button>Search</button>
    </div>
    <div [ngSwitch]="menuType" class="menu-type">
        <ul *ngSwitchCase="'default'">
            <li><a routerLink="/seller-auth">Seller</a></li>
            <li><a routerLink="">Home</a></li>
            <li><a routerLink="/user-auth">Login/Signup</a></li>
            <li><a href="#">Cart(0)</a></li>
        </ul>
        <ul *ngSwitchCase="'seller'">
            <li><a style="background-color: #D4C9BE; color: #123458;">Seller signed in as: {{sellerName | titlecase}}</a></li>
            <li><a routerLink="seller-add-product">Add Product</a></li>
            <li><a routerLink="seller-home">Product List</a></li>
            <li><a routerLink="seller-home">Seller Home</a></li>
            <li><a (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>