.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #D4C9BE;
    box-shadow: 0 2px 8px #123458;
    padding: 0px 26px;
    box-sizing: border-box;
}

.nav img {
    height: 50px;
    padding: 10px;
    vertical-align: middle;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

h1 a{
    color: #123458;
    margin: 0;
    font-size: 40px;
    padding-top: 10px;
    text-decoration: none;
}

.nav .nav-search {
    display: flex;
    flex: 1;
    margin: 5px 5%;
    align-items: center;
}

.nav .nav-search input {
    flex: 1;
    color: #123458;
    border: 1px solid #123458;
    height: 35px;
    border-right: none;
}

.nav .nav-search button {
    color: white;
    background-color: #123458;
    border: 1px solid #123458;
    height: 38px;
    padding: 0 5%;
    cursor: pointer;
}

.menu-type {
    display: flex;
    align-items: center;
  }

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav ul li {
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.nav ul a {
    text-decoration: none;
    color: white;
    background-color: #123458;
    padding: 10px 16px;
    border-radius: 4px;
    display: inline-block;
    font-weight: 500;
    cursor: pointer;
}