<div class="add-product">
    <h1>Add New Product</h1>
    <form #addProduct="ngForm" (ngSubmit)="submit(addProduct.value)" class="common-form">
        <label>Name</label><input type="text" class="form-input" placeholder="Enter Product Name" name="name" ngModel>
        <label>Price</label><input type="text" class="form-input" placeholder="Enter Product Price" name="price"
            ngModel>
        <label>Category</label><input type="text" class="form-input" placeholder="Enter Product Category"
            name="category" ngModel>
        <label>Color</label><input type="text" class="form-input" placeholder="Enter Product Color" name="color"
            ngModel>
        <label>Description</label><textarea type="text" class="form-textarea" placeholder="Enter Product Description"
            name="description" ngModel></textarea>
        <label>Image URL</label><input type="text" class="form-input" placeholder="Enter Product Image URL" name="image"
            ngModel>
        <button class="form-button">Add Product</button>
    </form>
</div>