<div class="seller-home">
    <h1>Seller Home</h1>
    <div class="product-list">
        <h2>Product List</h2>
        <p class="message-p">{{productMessage}}</p>
        <table>
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Color</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productList">
                    <td><img src="{{item.image}}" alt="{{item.name}}"></td>
                    <td>{{item.name | titlecase}}</td>
                    <td>{{item.price}}</td>
                    <td>{{item.category | titlecase}}</td>
                    <td>{{item.color | titlecase}}</td>
                    <td>{{item.description}}</td>
                    <td><fa-icon [icon]="deleteIcon" class="delete-icon" (click)="delete(item)"></fa-icon>
                        </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>