.sign-up h2 {
    text-align: center;
    margin-bottom: 70px;
    color: #123458;
}

.seller-auth {
    margin: 5% 35%;
}

.sign-up {
    background-color: #D4C9BE;
    box-shadow: 0 2px 8px #123458;
    padding: 40px 0px;
    border-radius: 10px;
}