.sign-up h2, .login h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #123458;
}

.seller-auth {
    margin: 5% 35%;
}

.sign-up, .login {
    background-color: #D4C9BE;
    box-shadow: 0 2px 8px #123458;
    padding: 40px 0px;
    border-radius: 10px;
}

.auth-toggle {
    color: #123458;
    font-size: 14px;
    margin-top: 20px;
    text-align: center;
    cursor: pointer;
}

.sign-up p span,
.login p span {
    color: #b00020;
    font-size: 13px;
    display: block;
    margin-top: -10px;
    text-align: left;
}

.sign-up p,
.login p {
    margin-bottom: 0;
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.password-wrapper .form-input {
    width: 100%;
    padding-right: 40px;
}

.eye-icon {
    position: absolute;
    top: 12px;
    right: 14px;
    cursor: pointer;
    color: #123458;
    font-size: 12px;
}