<div class="user-auth">
    <div *ngIf="showSignUp" class="sign-up">
        <h2>User Signup</h2>
        <form #userSignUp="ngForm" (ngSubmit)="signUp(userSignUp.value)" class="common-form">
            Name<input type="text" class="form-input" placeholder="Enter name" name="name" ngModel>
            Email<input type="text" class="form-input" placeholder="Enter email" name="email" ngModel>
            Password<input type="text" class="form-input" placeholder="Enter password" name="password" ngModel>
            <button class="form-button">Sign Up</button>
            <a class="auth-toggle" (click)="openLogin()">Already have account? Click here to Login</a>
        </form>
    </div>

    <div *ngIf="!showSignUp" class="login">
        <h2>User Login</h2>
        <p class="error-p">{{authError}}</p>
        <form #userLogin="ngForm" (ngSubmit)="signUp(userLogin.value)" class="common-form">
            Email<input type="text" class="form-input" placeholder="Enter email" name="email" ngModel>
            Password<input type="text" class="form-input" placeholder="Enter password" name="password" ngModel>
            <button class="form-button">Login</button>
            <a class="auth-toggle" (click)="openSignUp()">Don't have an account? Click here to Sign up</a>
        </form>
    </div>
</div>