body {
    font-family: sans-serif;
    background-color: #F1EFEC;
}

.common-form {
    display: flex;
    flex-direction: column;
    margin: 10%;
    color: #123458;
}

.form-input {
    height: 35px;
    margin-top: 2px;
    margin-bottom: 12px;
    border: 1px solid #123458;
    border-radius: 5px;
    padding-left: 15px;
    /* color: #123458; */
}

.form-textarea {
    height: 80px;
    margin-top: 2px;
    margin-bottom: 12px;
    padding: 12px;
    border: 1px solid #123458;
    border-radius: 4px;
    resize: vertical;
    font-family: inherit;
    color: #123458;
}

.form-button {
    margin-top: 25px;
    height: 35px;
    border: 1px solid #123458;
    border-radius: 5px;
    color: white;
    background-color: #123458;
    cursor: pointer;
}

.error-p {
    color: red;
    text-align: center;
    margin: 0 10%;
}

.message-p {
    color: darkgreen;
    text-align: center;
    font-size: 16px;
}

.carousel-caption {
    background-color: #00000052;
    border-radius: 1px;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 16px;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}


.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-color: #00000052;
    border-radius: 2px;
    margin: 5px;
}